@import "./partials/bootstrap-overrides";
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

::marker {
  color: transparent;
}
* {
  box-sizing: border-box;
}

nav {
  div {
    .logo {
      max-width: 160px;
    }
    .search {
      @extend %flex-around;
      color: #ffffff8c;
      min-width: 25%;
      i {
        color: white;
        font-weight: 900;
      }
      p {
        margin: 0;
        a {
        }
      }
      div {
        img {
          max-width: 50px;
        }
      }
    }
  }
}
main {
  .container {
    margin-left: 40px;
    padding: 0;
    .row {
      div {
        h1 {
          margin: 0;
        }
      }
      div {
        padding: 0;
        li {
          .bord {
            border: 1px solid #ffffff8c;
            display: inline;
          }
          ul {
            li {
              a {
                color: #ffffff8c;
                &:hover {
                  background-color: #2e2e2e8c;
                }
              }
            }
          }
        }
      }
    }
  }
  .row {
    img {
      width: 100%;
    }
  }
  .brd::before {
    border: 1px solid #ffffff8c;
    padding: 3px 10px;
    border-radius: 3px;
  }
}
footer {
  padding-top: 150px;
  p {
    color: #ffffff8c;
    font-size: 0.8em;
    &.bord {
      display: inline;
      padding: 5px;

      border: 1px solid white;
    }
    &.copy {
      margin: 20px 0 30px;
    }
  }
}
i {
  color: #ffffff8c;
}

.font {
  font-size: 0.8em;
}
.border1 {
  border: 1px solid #ffffff8c;
  color: #ffffff8c;
  border-radius: 3px;
}
.form-check-input:checked {
  background-color: transparent;
  border-color: rgba(231, 229, 229, 0.397);
  border-radius: 0;
  padding: 0.6em;
  opacity: 0.6;
}
.unchecked {
  background-color: transparent;
  border-color: rgba(231, 229, 229, 0.397);
  border-radius: 0;
  padding: 0.6em;
}
.dropdown-menu.show {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  color: white;

  a {
    &:hover {
      background-color: #ffffff8c;
    }
  }
}

.bord {
  border-radius: 50%;
  padding: 1px 4px;
  margin-bottom: 1px;
  background-color: black;
  color: white;
  border: 2px solid white;

  @media screen and (max-width: 765.5px) {
    & {
      font-size: 0.7em;
    }
  }
  @media screen and (max-width: 575.5px) {
    & {
      font-size: 0.5em;
    }
  }
  @media screen and (max-width: 490.5px) {
    & {
      font-size: 0.3em;
    }
  }
  @media screen and (max-width: 400.5px) {
    & {
      font-size: 0.1em;
    }
  }
}
@media screen and (max-width: 575.5px) {
  .p-btn {
    margin: 60px 0 60px;
  }
}
